body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    }
    
    .form-container {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    h2, h3 {
    text-align: center;
    }
    
    input[type="text"], input[type="password"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    }
    
    button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    
    button:hover {
    background-color: #218838;
    }
    
    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    }
    
    table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    }
    
    button.delete-btn {
    background-color: #dc3545;
    
    }
    
    button.update-btn {
    background-color: #ffc107;
    }